body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #006666;
}

header {
  background-color: #00bcd4;
  color: white;
  text-align: center;
  padding: 25px;
}

section {
  padding: 20px;
  margin: 15px;
  border: 1px solid #00bcd4;
}

.about {
  background-color: #e0f7fa;
}

.skills {
  background-color: #f0ffff;
}

.projects {
  background-color: #e0f7fa;
}

ul {
  margin-left: 20px;
}

footer {
  background-color: #00bcd4;
  color: white;
  text-align: center;
  padding: 12px;
}
